@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Anton&family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;1,6..96,400;1,6..96,500;1,6..96,600&family=Cinzel:wght@400;500;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,700;1,9..40,800&family=Elsie:wght@400;900&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Inter:wght@300;500;700&family=Italiana&family=Kaisei+Decol:wght@400;500;700&family=Kite+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Marcellus&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Oranienbaum&family=Oswald:wght@400;500;600;700&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Sofia+Sans+Semi+Condensed:wght@200&family=Sofia+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/rigata');

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar, .orderHistory::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: #743406d8;
  background-color: #9b4e17b2;
}

body::-webkit-scrollbar-track, .orderHistory::-webkit-scrollbar-track {
  background-color: #F9F1E6;
}

.categoryName {
  position: fixed;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: transform .1s;
}

.menuSlide {
  background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1699343695/Sylvan/creative-fengshui-practice-kitchen-arrangement_selmyg.jpg');
  animation: bg 10s linear infinite;
}

@keyframes bg {
  0% {
    background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1699343695/Sylvan/creative-fengshui-practice-kitchen-arrangement_selmyg.jpg');
  }
  33% {
    background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1699343695/Sylvan/creative-fengshui-practice-kitchen-arrangement_selmyg.jpg');
  }
  33.333% {
    background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1699340524/Sylvan/522_xu5uqj.jpg');
  }
  66% {
    background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1699340524/Sylvan/522_xu5uqj.jpg');
  }
  66.666% {
    background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1699919882/Sylvan/landon26_uxldnm.jpg');
  }
  99% {
    background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1699919882/Sylvan/landon26_uxldnm.jpg');
  }
  100% {
    background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1699343695/Sylvan/creative-fengshui-practice-kitchen-arrangement_selmyg.jpg');
  }
}


.cardDisplay::-webkit-scrollbar {
  width: 0px;
}

.imageRow::-webkit-scrollbar, .userScroll::-webkit-scrollbar {
  height: 3px;
}

.imageRow::-webkit-scrollbar-thumb, .policy::-webkit-scrollbar-thumb {
  background-color: #9b4e17b2;
}

.cartBag::-webkit-scrollbar, .policy::-webkit-scrollbar {
  width: 2px;
}

#navSearch::placeholder, #loginEmail::placeholder, #loginPassword::placeholder, #registerUsername::placeholder, 
#registerEmail::placeholder, #registerPassword::placeholder, #policy::placeholder, #subscribe::placeholder {
  color: #74340675;
}

#navSearch::-webkit-placeholder, #loginEmail::placeholder, #loginPassword::placeholder, #registerUsername::placeholder,
#registerEmail::placeholder, #registerPassword::placeholder, #policy::placeholder, #subscribe::placeholder {
  color: #74340675;
}

#navSearch::-moz-placeholder, #loginEmail::placeholder, #loginPassword::placeholder, #registerUsername::placeholder,
#registerEmail::placeholder, #registerPassword::placeholder, #policy::placeholder, #subscribe::placeholder {
  color: #74340675;
}

.lookbookCarousel {
  animation: carousel 70s linear infinite forwards;
}

@keyframes carousel {
  from {
    transform: translateX(0) ;
  }
  to {
    transform: translateX(-50%) ;
  }
}
